@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,100;1,700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-items: center;
  background-color: #e9f0ce;
  background-image: linear-gradient(to right top, #e9f0ce, #e5ecca, #e1e8c6, #dde4c3, #d9e0bf, #d1d9b4, #c9d1a9, #c1ca9e, #b3be89, #a6b275, #98a660, #8b9a4c);
  color: #3b3f20;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
  }

/*grid display items*/

.sidebar {
    grid-area: sidebar;
    background-color: white;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
    grid-area: content;
    background-color: white;
    color:#3b3f20; 
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

.card-body {
        padding: 1rem;
      }
/*HEADER AND NAVBAR*/

.header {
    display: flex;
    justify-content: center;
    grid-area: header;
    margin: auto;
    width: 100%;
    text-align: center;
}

.navbar {
    grid-area: navbar;
    background-color: #3b3f20;
    margin: auto;
    font-family: Open Sans;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 12px;
}

.navbar a:hover {
    background-color: white;
    color:#3b3f20;
}

.navbar a.active {
    background-color: white;
    color: #3b3f20;
}
/*FOOTER*/

.footer {
    grid-area: footer;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    padding-bottom: 5rem;
      }

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
        "header header header"
        "navbar navbar navbar"
        "sidebar content content"
        "blank   content content"
        "footer footer footer";
    color: #444;
    grid-gap: 1em;
    margin: 5rem;
    }

/*text*/
    h1 {
        color: #d45464;
        font-size: 5rem;
        font-weight: bold;
        font-family: Amatic SC;
        letter-spacing: 2px;
        padding-top: 2rem;
        text-align: center;
      }
    
      .fa-brands {
        font-size: 30px;
        padding: 20px;
        width: 50px;
        text-align: center;
        color: #3b3f20;
      }
    
      .fa-brands:hover {
        opacity: .7;
      }

      span {
        color: #d45464;
        font-size: 2.5rem;
        font-family: Amatic SC;
        font-weight: bold;
        letter-spacing: 2px;
      }
    
      h4 {
        padding: 5px;
        font-size: 18px;
        font-family: Roboto;
      }
    
      p {
        padding: 4px;
        font-family: Roboto;
      }

      .figcaption {
        font-family: Amatic SC;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2px;
        padding-bottom: 1.5rem;
      }

      .profile {
        font-family: Open Sans;
        padding: 2rem 2rem 4rem 2rem;
      }
    
      /*images*/

      img {
        display: block;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 20rem;
        object-fit: cover;
        text-align: center;
      }

      .avatar img {
        border-radius: 50%;
        margin: 1rem auto 0 auto;
        object-fit: cover;
        width: 80%;
        height: 300px;
      }

      .recipe-image {
        display: block;
        border-radius: 12px;
        height: 25rem;
        width: 50%;
        object-fit: cover;
        margin: 4rem auto 0 auto;
      }

      #small {
        font-size: 20px;
        text-align: center;
        color: #3b3f20;
        padding: 5px;
        margin: 0;
        width: auto;

      }

      /* button */

      .button   {
        display: inline-block;
        text-decoration: none;
        width: 100px;
        border-radius: 10px;
        border: none;
        margin: auto;
        background-color: #d45464;
        color: white;
        font-size: 16px;
        font-family: Open Sans;
        padding: 2px;
      }